<footer th:fragment="footer" style="background-color: #f2f2f2; padding: 20px; position: fixed; bottom: 0; width: 100%">
  <div style="max-width: 1200px; margin: 0 auto; text-align: center;">
    <p style="color: #555; font-size: 14px; margin-bottom: 10px;">© 2023 Giuseppe Scibetta. Tutti i diritti riservati (Beh...).</p>
    <nav>
      <a href="/" style="color: #888; font-size: 12px; text-decoration: none; margin: 0 10px; position: sticky;">Home</a>
    </nav>
    <p style="color: #888; font-size: 12px; margin-top: 10px;">Realizzato da Giuseppe Scibetta per Web systems design and architectures.</p>
  </div>
</footer>