<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
</head>
<body>
    <div lang="en" th:replace="~{fragments/navbar:: navbar}"></div>

    <div>
        <p style="padding-left: 20px; color: #333;">
            In realtà non so che scrivere... <br/>
            sono Scibetta
        </p>
    </div>

    <div lang="en" th:replace="~{fragments/footer:: footer}"></div>
</body>
</html>